<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto charts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
      table {
          border: 1px solid green;
          border-collapse: collapse;
          width:100%;
      }

      table td {
          border: 1px solid green;
      }

      table td.shrink {
          white-space:nowrap
      }
      table td.expand {
          width: 99%
      }
    </style>
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>
   </body>
</html>