{% extends 'base.html' %}
{% block content %}

<h1>Crypto charts</h1>

<!-- The loading image -->
<div id="loading">
    <p>Loading</p>
</div>

<!-- Container for result -->
<div id="success">
</div>

<script>
    // Function for adding User data and removing loading animation
    var replace_data = function(data){
        $('#loading').remove();
        $('#success').append(data.data);
    }

    // AJAX call when page has loaded
    $(document).ready(function(){
        $.ajax({
            url: '/test/',
            data: {
                'name': 'FOO'
            },
            data_type: 'html',
            success: function(data){
                replace_data(data);
            }
        });
    });
</script>

{% endblock %}